body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background: linear-gradient(to right, #e0f7fa, #f1f8ff); */
  background-color: #81D8D0;
}

.main-container {
  text-align: center;
  padding: 20px;
}

.heading {
  margin-bottom: 30px;
  color: #1e3a8a;
}

/* Main Book List Page */
.book-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.heading {
  font-size: 3em;
  color: #151B54;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.book-card {
  width: 300px;
  padding: 20px;
  background-color: #FCDFFF;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}


.book-card:hover {
  transform: scale(1.05);
}

.view-link {
  text-decoration: none;
  color: #2563eb;
  font-weight: bold;
}

/* Buttons */
.read-btn,
.back-btn {
  background: #2563eb;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.read-btn:hover,
.back-btn:hover {
  background: #1d4ed8;
}

/* Detail Page */
.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Detail Card */
.book-detail-card {
  width: 500px;
  background-color: #FCDFFF;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

.book-detail-card img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 20px;
}

.book-detail-card h1 {
  color: #1e3a8a;
}

.book-detail-card p {
  line-height: 1.6;
  color: #444;
}